<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neurelectrics.dive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dive">
        <activity android:name=".Done" android:screenOrientation="portrait"></activity>
        <activity android:name=".Night7" android:screenOrientation="portrait"/>
        <activity android:name=".DreamReport" android:screenOrientation="portrait"/>
        <activity android:name=".SoundCalibration" android:screenOrientation="portrait"/>
        <activity android:name=".sleepQuestion" android:screenOrientation="portrait"/>
        <activity android:name=".FitbitTest" android:screenOrientation="portrait"/>
        <activity android:name=".ConsentActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".AppStart"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>